// 
// Navbar
// 

#mainNav {
    min-height: 3.5rem;
    background-color: $white;

    .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: $primary;
        border: $border-width solid $primary;

        &:focus {
            outline: none;
        }
    }

    .navbar-brand {
        color: $black;
        font-weight: 700;
        padding: 0.9rem 0;
    }

    .navbar-nav {
        .nav-item {
            &:hover {
                color: fade($white, 80%);
                outline: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        Font-family: 'Nunito', sans-serif;
        font-size: 1.5rem; /* Beispiel */
        color: #333;       /* Beispiel, um Bootstrap-Farbe zu überschreiben */

        .navbar-brand {
            padding: 0.5rem 0;
            color: fade-out($white, 0.5);
        }

        .nav-link {
            transition: none;
            padding: 2rem 1.5rem;
            color: fade-out($white, 0.5);

            &:hover {
                color: rgb(30, 88, 212);
            }

            &:active {
                color: $white;
            }
        }

        &.navbar-shrink {
            background-color: $gray-500;
            opacity: 0.95;

            .navbar-brand {
                color: $black;
            }

            .nav-link {
                color: $black;
                padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;
                Font-family: 'Nunito', sans-serif;
                font-size: 1.5rem; /* Beispiel */
                color: #333;       /* Beispiel, um Bootstrap-Farbe zu überschreiben */

                &:hover {
                    color: rgb(30, 88, 212);
                }

                &:active {
                    color: darken(rgb(30, 88, 212), 15%);
                }

                &.active {
                    color: rgb(30, 88, 212);
                    outline: none;
                    border-bottom: 0.25rem solid rgb(30, 88, 212);
                }
            }
        }

        // #mainNav.navbar-login {
        //     background-color: transparent !important;
        //     opacity: 1;

        //     .navbar-brand {
        //         color: $white !important;
        //     }

        //     .nav-link {
        //         color: $white !important;

        //         &:hover,
        //         &:active,
        //         &.active {
        //         color: fade-out($white, 0.25) !important;
        //         border-bottom: 0.25rem solid transparent;
        //         }
        //     }

        //     .navbar-toggler {
        //         color: $white !important;
        //         border-color: fade-out($white, 0.4) !important;
        //     }
        // }
    }
}